<mat-nav-list fxLayout="column">

  <div>
    <a mat-list-item 
      routerLinkActive="active-list-item"
      [routerLink]="appRoutes.HOME"
      [routerLinkActiveOptions]="{exact: true}"
      (click)="onToggleSideNav()">
      <mat-icon mat-list-icon>home</mat-icon>
      <p mat-line>Home</p>
    </a>

    <a mat-list-item 
      [ngClass]="viewHowIgnyteWorksTag"
      routerLinkActive="active-list-item"
      routerLink="#" 
      [fragment]="appFragments.HOW_IGNYTE_WORKS"
      (click)="onToggleSideNav()">
      <mat-icon mat-list-icon>explore</mat-icon>
      <p mat-line>How Ignyte Works</p>
    </a>
    
    <a mat-list-item 
      [ngClass]="viewAboutUsTag"
      routerLinkActive="active-list-item"
      routerLink="#" 
      [fragment]="appFragments.ABOUT"
      (click)="onToggleSideNav()">
      <mat-icon mat-list-icon>chrome_reader_mode</mat-icon>
      <p mat-line>About Us</p>
    </a>
  </div>
  

  
  <div class="action-buttons-container" fxLayout="column" fxLayoutGap="16px" fxFlex fxLayoutAlign="flex-end">
    <!-- <mat-divider></mat-divider> -->
    <a [ngClass]="beginSignupTag" mat-raised-button [href]="ignyteAppSignupUrl" color="primary">SIGN UP</a>
    <a [ngClass]="beginLoginTag" mat-button [href]="ignyteAppLoginUrl">LOGIN</a>
  </div>
  

</mat-nav-list>