<div class="cta-container" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="32px">
  <h2 class="cta-header">Ready to Get Started?</h2>
  <div class="cta-box" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px">
    <a class="hero-button" [ngClass]="customPlanTagClass" [href]="[customPlanUrl]" target="_self" mat-raised-button color="primary">Build Your Plan</a>
    <a class="hero-button" [ngClass]="prebuiltPlanTagClass" [href]="[prebuiltPlanUrl]" target="_self" mat-raised-button >Try One of Ours</a>
  </div>
</div>