<mat-toolbar fxLayout="row" fxLayoutAlign.gt-sm="center center">
  <div class="content-container" fxLayout="row" fxLayoutAlign="center center">
    
    <!-- Logo -->
    <div class="logo-container" fxLayout="row" fxLayoutAlign="center center">
      <a [routerLink]="appRoutes.HOME" class="logo">
        <img class="logo-image" [src]="logoPaths.COMPANY_LOGO" alt="YouTube Channel Icon">
      </a>
    </div>

    <!-- Nav Items: Only display if screen is md or greater -->
    <div class="nav-items-container" fxFlex fxLayoutAlign="flex-start" fxHide fxShow.gt-sm="true" >
      <ul fxLayout="row" fxLayoutGap="32px" class="nav-items">
        
        <li class="nav-list-item">
            <a class="nav-item" routerLinkActive="nav-item-active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="appRoutes.HOME">Home</a>
        </li>
        
        <li class="nav-list-item">
            <a class="nav-item" routerLinkActive="nav-item-active" routerLink="#" [fragment]="appFragments.HOW_IGNYTE_WORKS">How Ignyte Works</a>
        </li>
        
        <li class="nav-list-item">
          <a class="nav-item" routerLinkActive="nav-item-active" routerLink="#" [fragment]="appFragments.ABOUT">About Us</a>
        </li>
      </ul>
    </div>

    <!-- Menue Icon: Only display if screen is sm or less -->
    <div fxFlex fxLayoutAlign="flex-end" >
      <div class="nav-actions" fxLayoutAlign="center center" fxHide fxLayoutGap="16px" fxShow.gt-sm>
        <a class="login-button" mat-button [href]="ignyteAppLogin">LOGIN</a>
        <a class="signup-button" mat-raised-button [href]="ignyteAppSignup" color="primary">SIGN UP</a>
      </div>
      <div class="menu-button" fxLayoutAlign="center center" fxHide.gt-sm>
        <button (click)="onToggleSidenav()" aria-label="menu" #matButton mat-icon-button >
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      
    </div>
    
  </div>
  
  

</mat-toolbar>
