<div class="component-container" fxLayout="column" fxLayoutGap="32px">
  <h1 class="component-title mat-display-1">About Us</h1>
  <div class="content-container" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="32px">
    <div class="image-container" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="32px">
      <app-avatar-portrait [imagePath]="gregAvatarUrl"></app-avatar-portrait>
      <app-avatar-portrait [imagePath]="mdAvatarUrl"></app-avatar-portrait>
    </div>
    <div class= "text-block" >
      <p>Greg and Mary Daphne are two avid fitness enthusiasts who wanted a better way to customize and track our online workouts.</p>
      <p>They launched Ignyte Fitness to combine and organize their favorite online workout programs and fitness instructors in a single, intuitive interface.</p>
      <p>Through Ignyte Fitness, you get streamlined access to the staggering wealth of high-quality fitness content on the web, and join a community of passionate, fitness- obsessed individuals who celebrate the incredible creators behind that content.</p>
    </div>
  </div>
</div>