@import "../../../../../variables";

// This is a class is applied to the component itself, so needs the :host pseudo-class
// See: https://blog.angular-university.io/angular-host-context/
:host {
  width: 100%;
  max-width: $max-screen-width;
  scroll-behavior: smooth;
}

app-page-hero {
  width: 100%;
}

app-how-it-works {
  width: 100%;
  max-width: 1140px;
  margin-bottom: 64px;
}

app-about {
  margin-top: 64px;
  width: 100%;
  max-width: 1140px;
  margin-bottom: 64px;
}

@media screen and (max-width: $mobile-cutoff-width) {
  .hero-button {
    width: auto;
    margin-top: -32px;
  }
}
